target/
!.mvn/wrapper/maven-wrapper.jar

### Log file ###
logs/

### IntelliJ IDEA ###
.idea/
!.idea/runConfigurations/
!.idea/.gitignore/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

!**/test/resources/**/.git

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### ENV ###
.env

### JReleaser ###
*.log
out
results
