<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <contextListener class="LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="io.jenkins.tools.pluginmodernizer.cli.ConsoleLogFilter" >
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="io.jenkins.tools.pluginmodernizer.cli.PluginLoggerDiscriminator"></discriminator>
        <sift>
            <appender name="FILE-${filename}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>TRACE</level>
                </filter>
                <encoder>
                    <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', 'UTC'} [%level] [Thread=%t] - %logger{36} # %msg %n</pattern>
                </encoder>
                <file>logs/${filename}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>logs/${filename}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxHistory>7</maxHistory>
                    <maxFileSize>5MB</maxFileSize>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>
    <root>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SIFT" />
    </root>
    <logger name="jdk.httpclient" level="INFO" />
    <logger name="io.jenkins.tools.pluginmodernizer" level="TRACE" />
    <logger name="jdk.event.security" level="INFO" />
    <logger name="java.lang.ProcessBuilder" level="WARN" />
    <logger name="java.lang.Shutdown" level="WARN" />
    <logger name="java.lang.Runtime" level="WARN" />
    <logger name="org.eclipse.jgit.internal.storage.file" level="INFO" />
    <logger name="org.eclipse.jgit.internal.util" level="INFO" />
    <logger name="org.eclipse.jgit.transport" level="INFO" />
    <logger name="org.eclipse.jgit.util" level="INFO" />
    <logger name="sun.net.www.protocol.http" level="INFO" />
    <logger name="com.google.inject" level="WARN" />
</configuration>
